* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    background-color: #A2CFCC;
}

/*
.base
{
    border: 2px solid;
    max-width: auto;
    margin: auto;
}
*/

header {
    
    text-align: center;
}

.globos {
    border: ;
    text-align: center;
    padding: 5px;

h1 {
    text-transform: uppercase;
}

.subtittle {
    margin-bottom: 20px;
}

img {
    border: 5px solid grey;
    margin: 20px;
    border-radius: 50%;
}

li {
    max-width: 200px;
    list-style-type: none;
    text-align: center;
    text-shadow: gray 5px 5px 5px;
    font-size: 16px;
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
